<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerRegister</servlet-name>
        <servlet-class>CONTROLLER.ControllerRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>CONTROLLER.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogout</servlet-name>
        <servlet-class>CONTROLLER.ControllerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>CONTROLLER.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVote</servlet-name>
        <servlet-class>CONTROLLER.ControllerVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVotedTeam</servlet-name>
        <servlet-class>CONTROLLER.ControllerVotedTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerFinishPoll</servlet-name>
        <servlet-class>CONTROLLER.ControllerFinishPoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDeleteUser</servlet-name>
        <servlet-class>CONTROLLER.ControllerDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRecruitedHeroes</servlet-name>
        <servlet-class>CONTROLLER.ControllerRecruitedHeroes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerRegister</servlet-name>
        <url-pattern>/ControllerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogout</servlet-name>
        <url-pattern>/ControllerLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVote</servlet-name>
        <url-pattern>/ControllerVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVotedTeam</servlet-name>
        <url-pattern>/ControllerVotedTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerFinishPoll</servlet-name>
        <url-pattern>/ControllerFinishPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDeleteUser</servlet-name>
        <url-pattern>/ControllerDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRecruitedHeroes</servlet-name>
        <url-pattern>/ControllerRecruitedHeroes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
